
<div class="container">
  <h1 class="display-3">Mi Carrito</h1>
  <% @items.each do |item| %>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src= <%= item.product.photo_url%> class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"> <%= item.product.name %></h5>
            <p class="card-text"> <%= item.product.price %></p>
            <span> <%= "Cantidad: #{@carrito.items.where(product_id: item.product_id).count}" %> </span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>