// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.product-category {
    text-align: center;
    justify-content: center;
    top: 50%;
    color: white;
    text-decoration: none;
    font-size: x-large;
}

.product-text {
    text-decoration: none;
    color: white
}

.product-text:hover {
    color: #e09f3e
}

.card-img-top {
    width: auto;
    height: 50%;
    object-fit: scale-down;
}

.boton-eliminar {
    position: absolute;
    bottom: 8px;
    left: 60px
}

.boton-editar {
    position: absolute;
    bottom: 8px;
    left: 105px;
}

.boton-precio {
    position: absolute;
    bottom: 8px;
    right: 15px;
}

.boton-agregar {
    position: absolute;
    bottom: 8px;
    left: 15px
}

.ventana-modal {
    width: 100%;
}