<div class="background-color4">
  <div class="container">
    <div class="h-100 row align-items-center background-color4">
      <div class="col-4">
        <h4 class="product-category"> <%= link_to "Entradas", entradas_products_path, class: "product-text" %></h4>
      </div>
      <div class="col-4">
        <h4 class="product-category"> <%= link_to "Platos Principales", platos_principales_products_path, class: "product-text" %></h4>
      </div>
      <div class="col-4">
        <h4 class="product-category"> <%= link_to "Postres", postres_products_path, class: "product-text" %></h4>
      </div>
    </div>
  </div>
</div>