  <div>
    <footer class="footer">
      <div class="container d-flex justify-content-center">

      </div>

      <!-- Copyright -->
      <div class="text-center">
        © 2020 Copyright:
      </div>
      <!-- Copyright -->
    </footer>
  </div>